@model IEnumerable<Fundamentals.Models.Movies.MovieViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<div id="divMoviesEditor">
    


    <table class="table" id="movies">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Play
                </th>
                <th>
                    Ganre
                </th>
            </tr>
            @foreach (var movie in Model)
            {
                <tr>

                    <td>@Html.ActionLink(movie.Name, "GetMovie", new { id = movie.Id }, new { @class = "href-class" })</td>
                    <td>
                        <audio controls="" src="@Url.Action("PlayMovie", new { id = movie.Id })" id="player_'@movie.Id'"></audio>
                      
                    </td>
                    <td>@movie.Ganre.Name</td>
                    <td>
                        <button data-movie-id="@movie.Id" class="btn-link js-delete" type="button">Delete</button>
                    </td>
                </tr>
            }
        </thead>
    </table>
    @using (Html.BeginForm("NewMovie", "Movies", FormMethod.Get))
    {
        <input type="submit" class="btn btn-default" value="New movie" id="btnNewMovie"/>
    }

</div>
<script>

     $(document).ready(function() {

         $("#movies .js-delete").on("click",
             function () {
                 var button =this;
                 var id = $(this).attr("data-movie-id");
                 $.ajax({
                     url: '@Url.Action("movies","api")?id='+id,

                     method: "DELETE",
                     success: function () {
                         button.parentElement.parentElement.remove();

                     }
                 });
             });
     });

</script>